/* Global CSS Reset and global variables*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --primary10: #0d0e0b;
  --primary20: #2b2b2b;
  --primary30: #696969;
  --primary40: #848484;
  --primary50: #a0a0a0;
  --primary60: #b7b8b6;
  --primary70: #c9cac8;
  --primary80: #eeeeee;
  --primary90: #fcfcfc;
  --primary100: #ffffff;
  --accentLight: #e8bf4a;
  --accentDark: #c48e22;
  --sun: #fdd016;
  --logoAccent: #a9dbc9;
  --logoAccentDark: #0d1210;
  --navText: #a5a5a5;
  --subtitleText: #333333;
  --icon: #b9b9b9;
  --titleBrown: #6c411e;
  --footerBackground: #f9f9f9;
  --heroBackground: #ced0d7;
  --maxWidth: 900px;
}

html {
  height: 100%;
  font-size: 16px;
  background: var(--primary100);
}

body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  border-radius: 6px;
}

#root,
#__next {
  isolation: isolate;
}

/* nav styles */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding: 5rem 0;
  width: 100%;
  color: var(--primary30);
  background-color: var(--footerBackground);
  text-align: center;
}

.link {
  color: var(--accentDark);
  text-decoration: none;
  transition-duration: 300ms;
}

.link:hover {
  color: var(--accentLight);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.platforms {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: var(--icon);
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  transition-duration: 300ms;
}

.socials a:hover {
  color: var(--logoAccent);
}

.contact-title {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: var(--subtitleText);
  margin: 1rem 0;
}

.contact-subtitle {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 14px;
  color: var(--primary10);
}

.media-section-titles {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0;
}

.subtitle {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: var(--subtitleText);
  margin: 1rem 0;
}

.categories {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--subtitleText);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.collaborators-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: var(--subtitleText);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.responsive-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.caption {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--subtitleText);
}

html.dark {
  background-color: var(--logoAccentDark);
  color: var(--primary80);
}
.dark .nav-links a {
  color: var(--primary80);
}
.dark footer {
  background-color: var(--primary20);
  color: var(--primary80);
}
.dark .subtitle {
  color: var(--primary80);
  font-weight: 500;
}
.dark .contact-subtitle {
  color: var(--primary80);
}
.dark .media-section-titles {
  color: var(--primary80);
  font-weight: 500;
}
.dark .categories {
  color: var(--primary80);
  font-weight: 500;
}
.dark .platforms {
  color: var(--primary60);
  background-color: var(--primary20);
}
.dark .platforms:hover {
  color: var(--primary30);
}
.dark .contact-title {
  color: var(--primary80);
  font-weight: 500;
}
.dark .caption {
  color: var(--primary80);
}
.dark .collaborators-subtitle {
  color: var(--primary80);
  font-size: 1rem;
  font-weight: 300;
}
.dark .link {
  color: var(--accentLight);
}
.dark .link:hover {
  color: var(--accentDark);
}

/* nav styles */
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  background: none;
}
.nav-links a {
  padding: 15px 20px;
  color: var(--navText);
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  transition-duration: 300ms;
}
.nav-links a:hover,
.nav-links a:focus {
  color: var(--accentDark);
}

.hamburger {
  display: none;
  position: relative;
  z-index: 2;
}
.hamburger .line {
  display: block;
  width: 40px;
  height: 2px;
  border-radius: 12px;
  margin-bottom: 10px;
  background-color: var(--navText);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.hamburger.active .line:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}
.hamburger.active .line:nth-child(2) {
  opacity: 0;
}
.hamburger.active .line:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}
.expanded {
  display: unset;
}

.name-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 1.5rem 1rem;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    padding: 20px;
    cursor: pointer;
  }
  .name-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    align-items: center;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    font-weight: 400;
    width: 100%;
    margin-bottom: 2rem;
    background-color: transparent;
    z-index: 1;
  }
  .nav-links.expanded {
    display: flex;
  }
  .nav-links a {
    padding: 10px 20px;
    text-align: center;
  }
  .dark .nav-links a {
    color: var(--primary100);
  }
}

@media screen and (max-width: 640px) {
  .nav-links {
    font-weight: 600;
    display: none;
  }
  .nav-links.expanded {
    display: flex;
  }
}

@media screen and (max-width: 530px) {
  .name-header {
    margin: 1rem;
  }
}
