/* Global CSS Reset and global variables*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --primary10: #0d0e0b;
  --primary20: #2b2b2b;
  --primary30: #696969;
  --primary40: #848484;
  --primary50: #a0a0a0;
  --primary60: #b7b8b6;
  --primary70: #c9cac8;
  --primary80: #eeeeee;
  --primary90: #fcfcfc;
  --primary100: #ffffff;
  --accentLight: #e8bf4a;
  --accentDark: #dea128;
  --logoAccent: #a9dbc9;
  --navText: #a5a5a5;
  --subtitleText: #333333;
  --icon: #b9b9b9;
  --titleBrown: #6c411e;
}

html {
  height: 100%;
  font-size: 16px;
  font-family: system-ui, sans-serif;
  background: var(--primary100);
  background-size: 224px;
}

/* code {
  font-family: Raleway, Montserrat, Menlo, Monaco, Lucida Console,
    Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
} */

body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* nav styles */
.hamburger {
  padding: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--navText);
}

html.dark {
  background-color: var(--primary20);
  color: var(--primary80);
}

.dark .nav-links a {
  color: var(--primary100);
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
