---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import aboutUs from '../images/helia-about-us.jpg';
import headshotEmma from '../images/Helia-Music-Collective-Emma-photo.jpg';
import headshotJulie from '../images/helia-about-julie.jpg';

const pageTitle = "About";
---

<Layout title={pageTitle}>
  <main>
    <section>
      <Image src={aboutUs} width={912} alt="Emma & Julie" />
      <div>
        <h4 class="about-title">About Helia Music Collective</h4>
      </div>
      <p>
        Co-founded by musician/composers, Emma Logan and Julie Barwick, Helia Music Collective supports the creative endeavors of women in music throughout the San Francisco Bay Area. Helia Music seeks to enrich the community and expand the engagement of women artists through educational outreach and collaborations, with performances and workshops taking place in unique and diverse spaces. Through charitable activities and events, Helia supports the education and development of women in the Bay Area and beyond.
      </p>
    </section>
    <section>
      <h4 class="about-both">Who We Are</h4>
      <div class="two-images">
        <Image src={headshotEmma} width={441} alt="Emma & Julie" />
        <Image src={headshotJulie} width={441} alt="Emma & Julie" />
      </div>
    </section>
  <main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 912px;
  }
  .about-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: var(--subtitleText);
  }
  .two-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
</style>