---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
import imageData from "../images/Julie&Emma-LowQ.jpg";

---

<Layout title="Contact">
  <main>
    <Image width={750} alt={'Picture of Julie and Emma'} src={imageData} />
    <div class="contact-title">
      <h2>Contact Us</h2>
    </div>
    <h6>Location</h6>
    <p>
      We are based in San Francisco.
    </p>
    <h6>Email Address</h6>
    <p>
      heliamusiccollective [at] gmail [dot] com
    </p>
  <main>
</Layout>

<style>
  .contact-title {
    text-align: center;
  }
  h6 {
    color: var(--primary30);
    font-size: 2rem;
  }
  p {
    color: var(--primary50);
    font-size: 1.5rem;
  }
</style>