---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
import imageData from "../images/Julie&Emma-LowQ.jpg";

---

<Layout title="Contact">
  <main>
    <Image width={750} alt={'Picture of Julie and Emma'} src={imageData} />
    <h1>Contact Us</h1>
    <h6>Location</h6>
    <p>
      We are based in San Francisco.
    </p>
    <h6>Email Address</h6>
    <p>
      heliamusiccollective [at] gmail [dot] com
    </p>
  <main>
</Layout>
