---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import imageData from "../images/je-stairs.jpg";
---

<Layout title="Contact">
  <div class="main-format">
    <Image
      src={imageData}
      width={750}
      alt="Julie & Emma sitting on the steps, smiling"
      class="responsive-image"
    />
    <div>
      <h4 class="contact-title">Contact Us</h4>
    </div>
    <h6 class="contact-subtitle">Email Address</h6>
    <p>heliamusiccollective [at] gmail [dot] com</p>
    <h6 class="contact-subtitle">Location</h6>
    <p>We are based in San Francisco.</p>
  </div>
</Layout>

<style>
  .main-format {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
  }
  p {
    color: var(--primary60);
    font-size: 1rem;
    font-weight: 300;
  }
</style>
