---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
import imageData from "../images/je-stairs.jpg";

---

<Layout title="Contact">
  <main>
    <Image src={imageData} width={750} alt='Julie & Emma sitting on the steps, smiling' class="responsive-image"/>
    <div>
      <h4 class="contact-title">Contact Us</h4>
    </div>
    <h6>Location</h6>
    <p>
      We are based in San Francisco.
    </p>
    <h6>Email Address</h6>
    <p>
      heliamusiccollective [at] gmail [dot] com
    </p>
  <main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  h6 {
    color: var(--primary30);
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 14px 0px;
  }
  p {
    color: var(--primary50);
    font-size: 1rem;
    font-weight: 300;
  }
  .responsive-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
</style>
