---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contacts">
  <main>
    <h1>Contacts</h1>
    <p>
      Hello! I'm an Astro site. I'm a static site generator that lets you build faster websites with less client-side JavaScript. I'm built with React, but you don't need to know React to use me. I'm a good choice for blogs, marketing sites, and other content-heavy sites.
    </p>
    <p>
      I'm a work in progress, but I'm getting better every day. I'm excited to see what you build with me!
    </p>
  <main>
</Layout>
