---
import Layout from '../layouts/Layout.astro'
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "Events";
---
<Layout title={pageTitle}>
  <h2>Past Events</h2>
  <ul>
    <li><a href="/posts/post1/">Post 1</a></li>
    <li><a href="/posts/post2/">Post 2</a></li>
    <li><a href="/posts/post3/">Post 3</a></li>
  </ul>
</Layout>