---
import Layout from '../layouts/Layout.astro';
import '@fontsource/lato';
---

<Layout title="Helia Music Collective">
	<main>
		<h1>Helia <span class="music">Music </span>Collective</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		font-family: 'Lato', sans-serif;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: var(--accent-dark);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.music {
		color: var(--primary30);
	}
</style>
