---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
import julieEmmaPath from "../images/je-path.jpg";
---

<Layout title="Helia Music Collective">
	<main>
		<section class="hero">
			<div class="container">
				<section class="window-container">
					<div class="foreground-content">
						<h1>hēlē'a - of the sun</h1>
					</div>
				</section>
			</div>
			<div class="inner-hero">
				<p>Helia Music Collective supports the creative endeavors of women in music throughout the San Francisco Bay Area.</p>
				<a href="/about">About us</a>
				<Image width={898} height={599} alt="Emma & Julie standing on the path at Land's End looking in different directions from each other" src={julieEmmaPath}/>

			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		width: auto;
	}
	.hero {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 24px;
		position: relative;
    z-index: 1;
	}
	.inner-hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap: 3rem;
		background-color: var(--heroBackground);
		color: var(--primary30);
		padding: 3rem;
		text-align: center;
	}
	a {
    text-align: center;
    color: var(--primary100);
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		letter-spacing: 0.1em;
		background-color: var(--primary20);
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    transition-duration: 300ms;
	}
	.container {
		margin: 0;
    padding: 0;
    height: 100%;
		width: 100%;
    overflow-x: hidden;
		position: relative;
    z-index: 1;
	}
	.window-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 450px;
		width: 100%;
		overflow: hidden;
		background-image: url("../images/SF-ocean-beach-bg.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
	}
	.foreground-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: var(--primary100);
		background-color: rgba(169, 219, 201, 0.5);
		position: relative;
		z-index: 1;
		width: 852px;
		border-radius: 12px;
		height: 119px;
	}
</style>
