---
import Layout from '../layouts/Layout.astro';
import YouTubeEmbed from '../components/YouTubeEmbed.astro';
---

<Layout title="Media">
  <main>
    <section class="section-one">
      <h2>Videos</h2>
      <p>Check out videos from our recent collaboration with Jeff Anderle and the SFCM Clarinet Ensemble:</p>
      <div class="three-videos">
        <YouTubeEmbed
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/d_LhSnni13s?si=MRgs0Rcbm-2ncxmW"
          title="Three Spaces for 9 Clarinets - Shawne Anell Workman - performed by SFCM Clarinet Ensemble"
        />
        <YouTubeEmbed
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/IwmuaIhqhBU?si=17nf_lMtHApLVegp"
          title="Mapping Out a Sky - Emma Logan - Performed by SFCM Clarinet Ensemble"
        />
        <YouTubeEmbed
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/5SrNIOKFkYw?si=woSyxcoe7s2eJIvo"
          title="In Transit - Julie Barwick - performed by SFCM Clarinet Ensemble"
        />
      </div>
      <hr></hr>
      <p>Recordings from our collaboration with cellist Natalie Raney:</p>
    </section>
    <section>
      <h2>Gallery</h2>
      <p>Coming soon!</p>
    </section>
  <main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .section-one {
    margin-bottom: 2rem;
    max-width: 1000px;
  }
  h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  .three-videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  hr {
    margin: 2em auto;
    height: 1px;
    background-color: var(--navText);
    border: none;
  }
</style>
