---
import Layout from "../layouts/Layout.astro";
import YouTubeEmbed from "../components/YouTubeEmbed.astro";
import Image from "astro/components/Image.astro";
import WindowPhoto from "../components/WindowPhoto.astro";
import headshotEmma from "../images/emma.jpg";
import headshotJulie from "../images/about-julie.jpg";
import emmaJuliePath from "../images/je-path.jpg";
import emmaJulieSun from "../images/je-sun.jpg";
---

<Layout title="Media">
  <main class="main-media">
    <section class="hero">
      <WindowPhoto text="Media" />
    </section>
    <section class="section-one">
      <h2 class="media-section-titles">Videos</h2>
      <p>
        Check out videos from our recent collaboration with <a class="link"
          href="https://www.jeffanderle.com/"
          target="_blank">Jeff Anderle</a
        > and the SFCM Clarinet Ensemble:
      </p>
      <div class="three-videos">
        <YouTubeEmbed
          videoId="d_LhSnni13s"
          title="Three Spaces for 9 Clarinets"
          composer="Shawne Anell Workman"
        />
        <YouTubeEmbed
          videoId="IwmuaIhqhBU"
          title="Mapping Out a Sky"
          composer="Emma Logan"
        />
        <YouTubeEmbed
          videoId="5SrNIOKFkYw"
          title="In Transit"
          composer="Julie Barwick"
        />
      </div>
      <hr />

      <p>
        Recordings from our collaboration with cellist <a class="link"
          href="https://www.natalieraneycello.com/"
          target="_blank">Natalie Raney</a
        >:
      </p>
      <div class="two-videos">
        <YouTubeEmbed
          videoId="dIIa-KmwZwg"
          title="Moments"
          composer="Belinda Reynolds"
        />
        <YouTubeEmbed
          videoId="LtcTex_mB1k"
          title="stringDefinition"
          composer="The Honourable Elizabeth A. Baker"
          thumbnailRes="hq"
        />
        <YouTubeEmbed
          videoId="d4uMm1P8RFo"
          title="Desert Aesthetic"
          composer="Emma Logan"
        />
        <YouTubeEmbed
          videoId="-RWBSFAUopY"
          title="Counterbalance"
          composer="Julie Barwick"
        />
      </div>
      <hr />

      <p>
        Recordings from our collaboration and concert with <a class="link"
          href="https://www.curiumtrio.com/"
          target="_blank">Curium Trio</a
        >:
      </p>
      <div class="two-videos">
        <YouTubeEmbed
          videoId="LM6eE1A0kAI"
          title="Radiant Gray"
          composer="Emily Shisko"
        />
        <YouTubeEmbed
          videoId="HZJfG1ewPXc"
          title="Color Analysis from Japanese Silk Brocade"
          composer="Emma Logan"
        />
        <YouTubeEmbed
          videoId="OWtFbcxd76U"
          title="I … My Name"
          composer="Julie Barwick"
        />
        <YouTubeEmbed
          videoId="dFCRm-5pBuE"
          title="Pale Yellow/Brilliant Blue"
          composer="Jennifer Higdon"
        />
      </div>
      <hr />
      <p>Recordings from our collaboration and concert with Liason Ensemble:</p>
      <div class="two-videos">
        <YouTubeEmbed
          videoId="3qmawaJyAig"
          title="In the Evening"
          composer="Emma Logan"
        />
        <YouTubeEmbed
          videoId="gXwtiOL3k1I"
          title="Songs of Ice and Fire"
          composer="Julie Barwick"
        />
        <YouTubeEmbed
          videoId="vaHyJvMlvoE"
          title="am burning, have burned, will burn"
          composer="Emily Koh"
        />
        <YouTubeEmbed
          videoId="OGZChzMuU_E"
          title="Fragmented Lament"
          composer="Lily Chen"
        />
      </div>
      <hr />
      <p>
        Working with <a class="link" href="https://sirokoduo.com/" target="_blank"
          >Siroko Duo</a
        >
        in preparation for Re:Ignite concert:
      </p>
      <div class="two-videos">
        <YouTubeEmbed
          videoId="ONKhoBH-Br8"
          title="Siroko Duo Conversations with Composers: Julie Barwick"
        />
        <YouTubeEmbed
          videoId="ABUjaslJFy8"
          title="Siroko Duo: Conversations with Emma Logan"
        />
      </div>
    </section>

    <section class="section-two">
      <h2 class="media-section-titles">Gallery</h2>
      <div class="gallery">
        <Image
          src={headshotEmma}
          width={500}
          alt="Headshot of Emma Logan"
          class="responsive-image"
        />
        <Image
          src={headshotJulie}
          width={500}
          alt="Headshot of Julie Barwick"
          class="responsive-image"
        />
        <Image
          src={emmaJuliePath}
          width={500}
          alt="Emma & Julie standing on the path at Land's End looking in different directions from each other"
          class="responsive-image"
        />
        <Image
          src={emmaJulieSun}
          width={500}
          alt="Julie & Emma standing on a bridge with the sun rays shining up in the background"
          class="responsive-image"
        />
      </div>
    </section>
  </main>
</Layout>

<style>
  .main-media {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero {
    width: 100vw;
    position: relative;
    z-index: 1;
    margin-bottom: 1rem;
  }
  .section-one {
    margin-bottom: 2rem;
    max-width: 1000px;
    margin: 0 2rem;
  }
  .section-two {
    margin-bottom: 2rem;
    max-width: 1000px;
    margin: 0 2rem;
  }
  .three-videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .two-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  hr {
    margin: 2em auto;
    height: 1px;
    background-color: var(--navText);
    border: none;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .responsive-sun-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 1rem;
    transform: scale(0.65);
  }

  @media (max-width: 768px) {
    .three-videos {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
    }
  }

  @media (max-width: 640px) {
    .three-videos,
    .two-videos,
    .gallery {
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
  }
</style>
