---
import FooterLinkButton from "./FooterLinkButton.astro";
const { eventTitle, artistPhoto, photoCaption, eventDescription } = Astro.props;
---

<header>
  <h1>
    {eventTitle}
  </h1>
  <img src={artistPhoto} alt={photoCaption} />
  <p>
    {eventDescription}
  </p>
  <FooterLinkButton href="/events" text="Back to Events" />
</header>