---
let eventTitle = "Event Title";
let artistPhoto = "/images/artist.jpg";
let photoCaption = "Photo Caption";
let artistName = "Artist Name";
let FooterLinkButton
let eventDescription = "Artist Description";
---

<header>
  <h1>
    {eventTitle}
  </h1>
  <img src={artistPhoto} alt={photoCaption} />
  <p>
    {eventDescription}
  </p>

</header>