---
import Social from "./Social.astro"
---

<footer>
  <div>
    <Social platform="facebook" username="heliamusiccollective" />
    <Social platform="instagram" username="heliamusiccollective" />
    <Social platform="youtube" username="channel/UCAO6CEqJ4NBG-HGXXp8BH3w" />
  </div>
  <p id="copyright">© <span>Helia Music Collective</span></p>
</footer>

<script>
  const copyright = document.getElementById('copyright');
  if (copyright) {
      copyright.innerHTML = `Copyright ©${new Date().getFullYear()} <span>Helia Music Collective</span>`;
  }
</script>

<style>
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 5rem 0;
    width: 100%;
    color: var(--primary30);
    background-color: var(--footerBackground);
    text-align: center;
  }
  #copyright {
    font-size: 0.8rem;
  }
  span {
    color: var(--accentLight);
  }
</style>