---
import Social from "./Social.astro"
---

<footer>
  <div>
    <Social platform="facebook" username="heliamusiccollective" />
    <Social platform="instagram" username="heliamusiccollective" />
    <Social platform="youtube" username="channel/UCAO6CEqJ4NBG-HGXXp8BH3w" />
  </div>
  <p id="copyright">© Helia Music Collective</p>
</footer>

<script>
  const copyright = document.getElementById('copyright');
  if (copyright) {
      copyright.innerHTML = `Copyright ©${new Date().getFullYear()} Helia Music Collective`;
  }
</script>

<style>
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
    color: var(--primary30);
    text-align: center;
  }
</style>