---
import Social from "./Social.astro";

const socials = [
  { platform: "instagram", username: "heliamusiccollective" },
  { platform: "youtube", username: "channel/UCAO6CEqJ4NBG-HGXXp8BH3w" },
];
---

<footer>
  <div class="socials">
    {
      socials.map((social) => (
        <Social platform={social.platform} username={social.username} />
      ))
    }
  </div>
  <div class="footer-copyright">
    <p id="copyright"></p>
  </div>
</footer>

<script>
  const copyright = document.getElementById("copyright");
  if (copyright) {
    copyright.innerHTML = `Copyright © ${new Date().getFullYear()} Helia Music Collective`;
  }
</script>

<style>
  .footer-copyright {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }
  a {
    padding-left: 0.5rem;
  }
</style>
