---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import { Image } from "astro:assets";
import heliaLogo from "../images/Helia_web_H.png";
---

<header>
  <div class="name-header">
    <Hamburger />
    <div style={{ height: "100px" }}>
      <a href="/" aria-label="Back to Home Page">
        <Image
          src={heliaLogo}
          width={250}
          alt="Helia Logo"
          class="responsive-image"
        />
      </a>
    </div>
  </div>
  <nav>
    <Navigation />
  </nav>
</header>
