---
/* Header for all pages */
---

<header>
  <h1
    class="name-header"
  >
    Helia Music Collective
  </h1>
</header>

<style>
  name-header {
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    padding: 1rem;
    margin-bottom: 3rem;
    letter-spacing: 0.1em;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    color: var(--primary30);
    @media (min-width: 768px) {
      font-size: 3.75rem;
    }
  }
</style>