---
import ThemeIcon from "./ThemeIcon.astro";
---

<div>
  <div class="nav-links">
    <a class="nav-items" href="/">Home</a>
    <a class="nav-items" href="/about">About</a>
    <a class="nav-items" href="/events">Events</a>
    <a class="nav-items" href="/media">Media</a>
    <a class="nav-items" href="/contact">Contact</a>
    <div class="nav-items">
      <ThemeIcon />
    </div>
  </div>
</div>
