---
import ThemeIcon from "./ThemeIcon.astro";
---

<div>
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/events">Events</a>
    <a href="/media">Media</a>
    <a href="/contact">Contact</a>
    <div class="theme-icon">
      <ThemeIcon />
    </div>
  </div>
</div>

<style>
  .theme-icon {
    margin-top: 0.5rem;
    color: blue;
  }
</style>