---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}/`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: var(--primary100);
    background-color: var(--icon);
    text-decoration: none;
  }
  a:hover {
    background-color: var(--logoAccent);
  }
</style>