---
import { Icon } from "astro-icon/components";
const { platform, username } = Astro.props;
---

<a
  class="platforms"
  href={`https://www.${platform}.com/${username}/`}
  target="_blank"
>
  <Icon name={`mdi:${platform}`} size={40}/>
</a>
