---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/montserrat";
import "@fontsource/lato";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description ||
        "Helia is a New Music collective co-founded by Julie Barwick and Emma Logan"}
    />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://heliamusiccollective.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content={description || "Helia Music Collective supports the creative endeavors of women in music throughout the San Francisco Bay Area. Visit our website to learn more."}
    />
    <meta
      property="og:image"
      content="/je-path.jpg"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="heliamusiccollective.com" />
    <meta
      property="twitter:url"
      content="https://heliamusiccollective.com/"
    />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content={description || "Helia Music Collective supports the creative endeavors of women in music throughout the San Francisco Bay Area. Visit our website to learn more."}
    />
    <meta
      name="twitter:image"
      content="/je-path.jpg"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Helia Music Collective</title>
  </head>
  <body>
    <div class="outer-screen">
      <div class="header-div">
        <Header />
      </div>
      <main class="main-element">
        <slot />
      </main>
      <Footer />
      <script>
        import "../scripts/menu.js";
      </script>
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat Variable", sans-serif;
  }
  .main-element {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
  }
  .outer-screen {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
  }
  .header-div {
    background-color: transparent;
    margin-bottom: 1rem;
    padding-top: 10px;
    z-index: 50;
  }
  @media (max-width: 768px) {
    .header-div {
      margin-bottom: 0;
    }
  }
</style>
